[COMMON]
XML_PATH = /home/ca2ssim/ca2ssim/xml/jsonField.xml
CALL_NUM = 1
TEST_TIMEOUT = 10
SCENARIO_THREAD_SIZE = 10
CALL_RATE = 1

[RMQ]
#HOST = 100.100.100.34
HOST = 192.168.7.33
USER = acs
PORT = 5672
PASS = XMznXo3opsgV02aTxdnwJg==

#AWF_HOST = 100.100.100.34
AWF_HOST = 192.168.7.33
AWF_USER = acs
AWF_PORT = 5672
AWF_PASS = XMznXo3opsgV02aTxdnwJg==

A2S = T_A2S
AMF = C_AMF
ACS = C_AWF

AMF_ID = 0

THREAD_SIZE = 10
QUEUE_SIZE = 10

[JSON]
SCENARIO_PATH = /home/ca2ssim/ca2ssim/scenario
JSON_FILE_PATH = /home/ca2ssim/ca2ssim/rmqsim_json

[UDP]
SERVER_PORT = 5060